<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="Styles.css" />
		<title>SITE CLOSED</title>
	</head>
	<body>
		<h1>SITE IS CLOSED DUNRING THIS HOUR!</h1>
		<p style="text-align: start; margin-left: 25vw">
			Please Check Back At Working Hours:<br />
			-From 9am To 5pm <br />-From Monday To Friday
		</p>
	</body>
</html>