doctype html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="Styles.css" />
		<title>Services Page</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/Contact">Contact</a>
			<a href="/Services"><b style="text-decoration: underline">Services</b></a>
		</nav>
		<h1>This is The Services Page</h1>
	</body>
</html>